body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


#user-name-empty-message{
	color:#f99;
}

#info-log{
	border:1px solid #ccc;
	height:100px;
	overflow-y:scroll;
}