doctype html
html
  head
    title IAI
    link(rel='stylesheet', href='/stylesheets/style.css')
    // script(src='/javascripts/socket.io.js')
    script(src='https://code.jquery.com/jquery-2.2.1.min.js')
    script(src='https://cdn.socket.io/socket.io-1.4.5.js')
    script(src='/javascripts/main.js')
  body
    block content
